.parent {
  position: relative;
  /* width: 67%; */
  margin: auto;
}

.first {
  position: absolute;
  top: 0;
}

.first img {
  width: 20%;
  float: left;
}

.second {
  position: absolute;
  top: 0;
}

.second img {
  width: 30%;
  float: right;
}
